BUILD_PATHS="$(find build -type d -maxdepth 1|tr '\n' ':')"
export PATH="$(pwd)/.bin:$BUILD_PATHS:$PATH:$(pwd)/build:$(pwd)/scripts"
KFC_PALETTE=synthwave
KFC_PALETTE=c_darwin
#paleta < ~/.palettes/base16-shapeshifter-dark
#paleta <  ~/.palettes/tomorrow-night-dark
#kfc -p base16-eighties
#base16-outrun
#kfc -s sexy-phrak1
#ALACRITTY_FONT=Glass_TTY_VT220
#kfc -p sexy-gnometerm

__scc_files(){
    find \
        meson/meson.build submodules/meson.build meson.build \
        scripts \
        Makefile \
        meson_options.txt \
        */*.c -type f\
    |egrep '\.txt$|Makefile$|\.sh$|\.build$|\.h$|\.c$'\
    |sort -u\
    |tr '\n' ' '
}

__scc_report(){
    scc -v -f wide --by-file $(__scc_files)
}



setup_terminal() {
	if [[ "$KITTY_PID" -gt 0 ]]; then
		#    echo kitty
		#kitty @ set-tab-title c_darwin
		#        inactive_tab_background=blue \
		kitty @ set-colors \
			active_tab_background=#eeeeee \
			active_border_color=white cursor_text_color=green
		#    kitty @ set-tab-color active_fg=black active_bg=yellow
		#    kitty @ env REPO=c_darwin
		#    kitty @ set-colors Kitty.conf
		#    kitty @ set-background-opacity .99
		#    kitty @ goto-layout vertical
		kitty @ set-colors Monokai\ Vivid.conf
	fi
	if [[ -e "$ALACRITTY_SOCKET" ]]; then
		echo alacrityyu
		#pycritty -f "$ALACRITTY_FONT"
	fi
	true
}

#[[ "$TMUX_PANE" == "" ]] && setup_terminal
#
kfc -p $KFC_PALETTE

nontest_files() {
	echo
	echo -ne "                                "
	ansi --blink --bold --green --bg-black --reverse "NONTEST SOURCE FILES" && echo
	echo
	Loc --files --include '^.*/.*\.c$' --exclude '^.*/.*test\.c$' --exclude '.*/sqlite3\.c$' | bline -a bold:green -r yellow -R 1-6
	echo
	echo
}

test_files() {
	ansi --blink --bold --magenta --bg-black --reverse "TEST SOURCE FILES"
	Loc --files --include '^.*/.*test\.c$'
}

src_report() {
	clear
	nontest_files
	echo
	test_files
	echo
	echo
}

#src_report
__scc_report
export RESTIC_PASSWORD=28D0BDB0-9133-49EC-BCEF-6040F0DF2F3C RESTIC_REPOSITORY=~/.wcap.db
