export MESON_TESTTHREADS=10

export PATH="$(pwd)/build/dls:$PATH"
export PATH="$(pwd)/build/kc:$PATH"

if [[ "$KFC_PALETTE" != "c_darwin" ]]; then
  kfc -p c_darwin 2>/dev/null
  export KFC_PALETTE=c_darwin
fi
