export MESON_DEFAULT_LIBRARY=shared
export MESON_DEFAULT_LIBRARY=static
export MESON_TESTTHREADS=1

export PATH="$(pwd)/build/dls:$PATH"
if [[ "$KFC_PALETTE" != "c_darwin" ]]; then
  kfc -p c_darwin 2>/dev/null
  export KFC_PALETTE=c_darwin
fi
