*.swp
build
.cache
.nodemon.log
.LEGACY
.attic/
subprojects/cargs
submodules
.make-log-*
.DU
.make-*log*
snapshot.jpg
*/*.sqlite
*.sqlite
*/*/*.sqlite
*.sqlite
*/*.sqlite
**/*.sqlite
*/*/*.sqlite
*/**/*.sqlite
.utils
.tmp
.o
a.png
o
error.log
Monokai Vivid.conf
loc.sh
*.log
.bin/
