[submodule "submodules/meson_deps"]
	path = submodules/meson_deps
	url = ssh://git@github.com/binRick/meson_deps
[submodule "submodules/rwimg"]
	path = submodules/rwimg
	url = https://github.com/schani/rwimg
