*.swp
build
.cache
.nodemon.log
.LEGACY
.attic/
subprojects/cargs
submodules
.make-log-*
.DU
.make-*log*
snapshot.jpg
*/*.sqlite
*.sqlite
*/*/*.sqlite
*.sqlite
*/*.sqlite
**/*.sqlite
*/*/*.sqlite
*/**/*.sqlite
.utils
.tmp
.o
a.png
o
error.log
Monokai Vivid.conf
loc.sh
*.log
.bin/
submodules/c_deps
*-cache.db
.meson-build-warnings.log
.iowow.db
MyGif.gif
.pngs
.cmd.sh
.utils
.meson.build*.log
.meson-build*.log
.screenshots.db
*.png
*.gif
*.mp4
dt
.display*.png*
o.*
.o.*
.*.db
.fonts.json
icons
tmp
*/.DS_Store
*.plist
*.icns
*.txt
*.bmp
.DS_Store
*.qoi
*.gif.[0-9]*
.new
*/unc-backup*
**/unc-backup*
*/**/unc-backup*
**/**/*unc-backup*
*.tiff
*.png
*.gif
*.jpeg
*/.vars.yaml
